.container{
    width: 50%;
    padding: 3em 0;
    color: var(--text-light);
}

.title{
    font-size: 5rem;
    margin: .1em 0;
    font-weight: 800;
    letter-spacing: -0.025em;
}

.title2{
    color: var(--text-blue);
}

.subtitle{
    font-size: 2rem;
    margin: .5em 0 1em;
    font-weight: 600;
}

.btn{
    background-color: var(--text-blue);
    padding: 1em 2em;
    font-size: 1.5rem;
    color: var(--text-light);
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--text-blue);
}